{% extends 'base.html' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Фото</th>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Удалить</th>
                <th>Цена товара</th>
                <th>Стоимость</th>
            </tr>

        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <img src="
                                {% if product.photo %}
                                    {{product.photo_s.url}}
                                {% else %}}
                                    <p>Нет изображения
                                {% endif %}">
                        </td>
                        <td>{{ product.title }}</td>
                        <td>
                        <a href="{% url 'cart:add_cart' product.id -1%}">&#10134;</a>
                            {{ item.quantity }}
                            <a href="{% url 'cart:add_cart' product.id 1%}">&#10133;</a>
                        </td>
                        <td align="center"><a href="{% url 'cart:cart_remove' product.id %}">&#128686;</a></td>
                        <td>{{ item.price }} руб.</td>
                        <td>{{ item.total_price}} руб.</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr>
                <td>Итого: </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cart.get_total_price }} руб.</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="{% url 'cart:cart_clear' %}">Очистить корзину</a></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock body %}